html, body {
    margin: 0px;
    padding: 0px;
    background: #333;
    color: #eee;
}

#wrapper {
    width: 760px;
    margin: 10px auto;
}


input[type=text], textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
    background: #555;
    border: 1px solid #555;
    margin-bottom: 5px;
    margin-top: 3px;
    color: #eee;
}

input[type=text]:focus, textarea:focus {
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
    outline: medium none;
}

textarea {
    height: 150px;
}

button {
    padding: 5px;
    margin-top: -6px;
    border: none;
    border-radius: 5px;
    background: #555;
    color: #eee;
}

button:hover {
    background: #777;
    cursor: pointer;
}

#key_input {
    width: 80%;
    float: left;
}

#encrypt_button {
    width: 18%;
    float: right;
}

.clearfix {
    clear: both;
}
